/* ===== VISUALIZAR STOCK  ===== */
.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #D6E6F5;
}

.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #0C447C;
}

/* ===== TABLA ===== */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #C0605A;
    -fx-border-width: 1.5;
}

.table-view .column-header-background {
    -fx-background-color: #D6E6F5;
}

.table-view .column-header .label {
    -fx-text-fill: #0C447C;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.table-view .column-header {
    -fx-border-color: transparent transparent #C0605A transparent;
    -fx-border-width: 0 0 2 0;
}

.table-view .filler {
    -fx-background-color: #D6E6F5;
    -fx-border-color: transparent transparent #C0605A transparent;
    -fx-border-width: 0 0 2 0;
}

.table-row-cell {
    -fx-border-color: transparent transparent #d0dce8 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-cell-size: 36px;
}

.table-row-cell:odd {
    -fx-background-color: #f0f5fb;
}

.table-row-cell:even {
    -fx-background-color: white;
}

/* ===== SELECCION DE FILA ===== */
.table-row-cell:selected {
    -fx-background-color: #0C447C;
}

.table-row-cell:selected .text {
    -fx-fill: white;
}

.table-row-cell:focused:selected {
    -fx-background-color: #90c09c;
}

/* ===== BOTON VOLVER ===== */
.btn-volver {
    -fx-background-color: transparent;
    -fx-text-fill: #1B2A4A;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: #1B2A4A;
    -fx-border-width: 1.5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 5 12 5 12;
    -fx-cursor: hand;
}

.btn-volver:hover {
    -fx-background-color: #EBF4FC;
}

.btn-volver:pressed {
    -fx-background-color: #D6E6F5;
}
/* ===== BUSCADOR ===== */

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #C0605A;
    -fx-border-width: 1.5;
    -fx-padding: 8 12 8 12;
    -fx-font-size: 13px;
}

.text-field:focused {
    -fx-border-color: #0C447C;
    -fx-border-width: 2;
}

/* ===== IMAGENES DE LA TABLA ===== */

.table-row-cell {
    -fx-cell-size: 130px;
}
/* ===== CABECERA CON TÍTULO Y CONTADOR ===== */

.cabecera-titulo {
    -fx-padding: 0;
}

.bloque-titulo {
    -fx-border-color: transparent transparent transparent #C0605A;
    -fx-border-width: 0 0 0 4;
    -fx-padding: 2 0 2 14;
}

.subtitulo-stock {
    -fx-font-size: 13px;
    -fx-text-fill: #6C7A8C;
    -fx-padding: 4 0 0 0;
}

.badge-contador {
    -fx-background-color: #5f90c0;
    -fx-background-radius: 20;
    -fx-padding: 8 16 8 16;
}

.badge-texto {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}